<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="header">
        <div class="header__general">
            <div class="header__content__top">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg"></a>
                <form action="">
                    <input type="text" placeholder="Buscar productos, marcas" name="searchInput" id="searchBar">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p>
                <a class="header__section__tarjetaDeCredito" href="https://www.youtube.com/watch?v=1JFdZPBw0UM&ab_channel=sevnkx"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá encueotas y sin tarjeta de crédito</a>
            </p>
        </div>
        <nav class="header__section__menu">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <a href="/register">
                    <li>Créatu cuenta <i class="fa-regular fa-id-card"></i></li>
                </a>
                <a href="/login">
                    <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                </a>
                <a href="">
                    <li>Mis compras <i class="fa-solid fa-basket-shopping"></i>
                        <li>
                </a>
            </ul>
        </nav>
        <nav class="header__boton">
            <button><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main class="main">
        <div>
            <section class="main__banner">
                <img src="/images/img-home-banner.jpg" alt="">
            </section>
        </div>
        <h2><b>Basado en tu última visita</b></h2>
        <section class="main__section__article">
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$6.770</p>
                    <p class="main__articulo__producto__descuento">40% off
                    </p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$230.000</p>
                    <p class="main__articulo__producto__descuento">20% off
                    </p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$70.500</p>
                    <p class="main__articulo__producto__descuento">10% off
                    </p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$23.200</p>
                    <p class="main__articulo__producto__descuento">5% off
                    </p>
                </div>
                <h4>SmartTv Samsung 43</h4>
            </article>
        </section>
        <h2>Sección de Ofertas</h2>
        <section class="main__section__article" style="padding-bottom:
                        10px;">
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$6.770</p>
                    <p class="main__articulo__producto__descuento">40% off
                    </p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$230.000</p>
                    <p class="main__articulo__producto__descuento">20% off
                    </p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$70.500</p>
                    <p class="main__articulo__producto__descuento">10% off
                    </p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article class="main__articulo__producto">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="main__articulo__producto--caja">
                    <div class="truck-fa">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="main__articulo__producto__precio">$23.200</p>
                    <p class="main__articulo__producto__descuento">5% off
                    </p>
                </div>
                <h4>SmartTv Samsung 43</h4>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <div class="footer__section--content">
                <article class="footer__section__article">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </article>
                <article class="footer__section__article">
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
                <article class="footer__section__article">
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </article>
            </div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>

</html>