<<<<<<< HEAD
/* HEADER */

body {
    background-color: #ffff;
    width: 117%;
}


/* MAIN */

main {
    background-color: var(--ColorGrisClaro)
}

fieldset {
    background-color: var(--ColorGrisClaro);
    padding: 30px;
    display: flex;
    justify-content: center;
}

input,
select {
    padding: 5px;
    border-radius: 4px;
}

form div {
    padding-bottom: 10px;
}

.main__register a {
    color: var(--ColorAzul);
    text-decoration: none;
    padding-left: 10px;
}

.main__register-nav {
    text-align: center;
    width: 85%;
}


/* MEDIA CONTROLS */

@media (min-width: 768px) {
    /* HEADER */
    body {
        width: 100%;
    }
    .header__section__menu ul {
        align-items: center;
    }
    .header__section__menu ul li,
    a {
        text-decoration: none;
        color: black;
        font-size: small;
    }
    /* MAIN */
    fieldset {
        background-color: var(--ColorGrisClaro);
        padding: 30px;
        padding-left: 180px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main__register-nav {
        text-align: center;
        width: 100%;
=======
/* MAIN*/

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ColorGrisClaro);
}

fieldset {
    border: 0;
}

.main__form__input {
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 20px;
    width: 85%;
}

label {
    font-weight: 700;
    font-family: "Roboto";
    padding: 10px;
}

select {
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 5px;
    width: 85%;
}

#submit {
    background-color: var(--ColorCeleste);
    color: var(--ColorGrisClaro);
}

#reset {
    background-color: var(--ColorCeleste);
    color: var(--ColorGrisClaro);
}

@media (min-width: 1024px) {
    .main__form__input {
        width: 30%;
    }
    select {
        width: 30%;
>>>>>>> master
    }
}